<head>
    <meta charset="utf-8"/>
    <title>Project Hospital</title>
    <link rel="stylesheet" href="/static/css/dark_theme.css">
    <script src="https://kit.fontawesome.com/2b242693ae.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" type="image/jpg" href="/public/logo.png"/>
</head>

<body>

<section class="section">
    <div class="columns">
        <div class="column">
        </div>
        <div class="column">
            <section class="section">
                <a>
                    <h1 class="title">Project Hospital</h1>
                    <h2 class="subtitle">Search for patients and medical specialists of Your hospital</h2>
                </a>
            </section>

            <!--           insert here -->


        </div>
        <div class="column">
        </div>
    </div>

</section>


<!--           insert here -->

</body>



<footer class="footer">
    <div class="columns">
        <div class="column is-one-third">
            <p class="control">
                <a class="button is-warning" href="/logout">
                    Log out
                </a>
            </p>
        </div>
        <div class="column">
            <div class="content has-text-centered">
                <a href="https://github.com/romanyshyn-natalia/Microservice-Architecture-Project">
                    Project for Software Architecture Course <i
                        class="fa fa-github-alt"></i>
                </a>
            </div>
        </div>
        <div class="column is-one-third">
        </div>
    </div>
</footer>