<head>
    <meta charset="utf-8"/>
    <title>Project Hospital</title>
    <link rel="stylesheet" href="/static/css/dark_theme.css">
    <script src="https://kit.fontawesome.com/2b242693ae.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" type="image/jpg" href="/public/logo.png"/>
</head>

<body>

<section class="section">
    <div class="columns">
        <div class="column">
        </div>
        <div class="column">
            <section class="section">
                <a>
                    <h1 class="title">Project Hospital</h1>
                    <h2 class="subtitle">Search for patients and medical specialists of Your hospital</h2>
                </a>
            </section>
        </div>
        <div class="column">
        </div>
    </div>

</section>

<section>
    <div class="columns">
        <div class="column is-1">

        </div>
        <div class="column">
            <form id="1" action="{{ url_for('results')}}" method="post">

                <article class="panel is-info">
                    <p class="panel-heading">
                        Search for patients:
                    </p>


                    <div class="panel-block">
                        <div class="field">
                            <label class="label">Insert Name and Surname</label>
                            <div class="control">
                                <div class="columns">
                                    <div class="column">
                                        <input class="input" type="text" id="patient_name" name="name"
                                               placeholder="Alex">
                                    </div>
                                    <div class="column"><input class="input" type="text" id="patient_surname"
                                                               name="surname"
                                                               placeholder="Smith">
                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>

                    <div class="panel-block">


                        <div class="field">
                            <label class="subtitle">or</label>
                        </div>

                    </div>

                    <div class="panel-block">
                        <div class="field">
                            <label class="label">Insert ID</label>
                            <div class="control">
                                <input class="input " type="text" id="patient_id" name="id" placeholder="12345">
                            </div>
                        </div>

                    </div>

                    <div class="panel-block">
                        <p class="control">
                            <button class="button is-fullwidth is-info" type="submit"
                            name="search" value="patient">
                                Search
                            </button>
                        </p>

                    </div>

                </article>
            </form>

        </div>

        <div class="column is-2">

        </div>

        <div class="column">
            <form id="2" action="{{ url_for('results')}}" method="post">

                <article class="panel is-warning">
                    <p class="panel-heading">
                        Search for doctors:
                    </p>

                    <div class="panel-block">
                        <div class="field">
                            <label class="label">Insert Name and Surname</label>
                            <div class="control">
                                <div class="columns">
                                    <div class="column">
                                        <input class="input" type="text" id="doctor_name" name="name"
                                               placeholder="Alex">
                                    </div>
                                    <div class="column"><input class="input" type="text" id="doctor_surname"
                                                               name="surname" placeholder="Smith">
                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>

                    <div class="panel-block">


                        <div class="field">
                            <label class="subtitle">or</label>
                        </div>

                    </div>

                    <div class="panel-block">
                        <div class="field">
                            <label class="label">Insert ID</label>
                            <div class="control">
                                <input class="input " type="text" id="doctor_id" name="id" placeholder="12345">
                            </div>
                        </div>

                    </div>

                    <div class="panel-block">
                        <p class="control">
                            <button class="button is-fullwidth is-warning" type="submit"
                                    name="search" value="doctor">
                                Search
                            </button>
                        </p>

                    </div>

                </article>
            </form>

        </div>

        <div class="column  is-1">

        </div>
    </div>
</section>

<section>
    <div class="section"></div>
</section>


</body>


<footer class="footer">
    <div class="columns">
        <div class="column is-one-third">
            <p class="control">
                <a class="button is-warning" href="/logout">
                    Log out
                </a>
            </p>
        </div>
        <div class="column">
            <div class="content has-text-centered">
                <a href="https://github.com/romanyshyn-natalia/Microservice-Architecture-Project">
                    Project for Software Architecture Course <i
                        class="fa fa-github-alt"></i>
                </a>
            </div>
        </div>
        <div class="column is-one-third">
        </div>
    </div>
</footer>