<head>
    <meta charset="utf-8"/>
    <title>Project Hospital</title>
    <link rel="stylesheet" href="/static/css/dark_theme.css">
    <script src="https://kit.fontawesome.com/2b242693ae.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" type="image/jpg" href="/public/logo.png"/>
</head>

<body>

<section class="section">
    <div class="columns">
        <div class="column">
        </div>
        <div class="column">
            <section class="section">
                <a href="/">
                    <h1 class="title">Project Hospital</h1>
                    <h2 class="subtitle">Search for patients and medical specialists of Your hospital</h2>
                </a>
            </section>
            <section class="section">

                <div class="field is-horizontal">
                    <div class="field-label is-small">
                        <label class="label">Your info</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control is-expanded has-icons-left">
                                <input class="input" type="text" placeholder="Username">
                                <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control is-expanded has-icons-left has-icons-right">
                                <input class="input" type="email" placeholder="Email">
                                <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>

                            </p>
                        </div>
                    </div>
                </div>


                <div class="field is-horizontal">
                    <div class="field-label"></div>
                    <div class="field-body">
                        <div class="field is-expanded">
                            <div class="field has-addons">
                                <p class="control">
                                    <a class="button is-static">
                                        +38
                                    </a>
                                </p>
                                <p class="control is-expanded">
                                    <input class="input" type="tel" placeholder="Your phone number">
                                </p>
                            </div>
                            <p class="help">Please use Your Name_Surname as Username</p>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-small">
                        <label class="label">Password</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control  has-icons-left">
                                <input class="input" type="text" placeholder="Password">
                                <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-small">
                        <label class="label">Repeat password</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control  has-icons-left">
                                <input class="input" type="text" placeholder="Password">
                                <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
                            </div>
                        </div>
                    </div>
                </div>


            </section>
        </div>
        <div class="column">
        </div>
    </div>

</section>
</body>


<footer class="footer">
    <div class="content has-text-centered">
        <p>
            Project for Software Architecture Course. <a
                href="https://github.com/romanyshyn-natalia/Microservice-Architecture-Project"><i
                class="fa fa-github-alt"></i></a>
        </p>
    </div>
</footer>